@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left:100px;
    margin-right:100px;
    display: block
    
   
    
}

#subtitle {
    background: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
    
    
}

.topic {
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 75px;
    margin-right: 75px;
    margin-left: 75px;
    display: inline-block
    
}

